#header{margin-top:0px;}
#page-container{margin-bottom:20px;}
#url-rewriting-warning {display: none;}

.bs-docs-sidenav {
	padding: 0;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
	margin-bottom:20px;
}

.bs-docs-sidenav > li > a {
	display: block;
	padding: 8px 14px;
	border: 1px solid #e5e5e5;
	margin: 0 0 -1px;
}
.bs-docs-sidenav > li:first-child > a {
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}
html {
  margin: 0;
}
html,
body {
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: none;
  font: 20px/1.5em "GillSans-Light", "GillSans", Helvetica, 'Segoe UI', sans-serif;
  color: #464646;
}
body {
  padding-top: 50px;
}
body * {
  -webkit-font-smoothing: antialiased;
}
body,
article,
nav {
  min-width: 320px;
}
/* Default Fonts */
@font-face {
  font-family: 'PFDinTextCondProLightRegular';
  src: url('/fonts/pfdintextcondpro-lightweb.eot');
  src: url('/fonts/pfdintextcondpro-lightweb.eot?#iefix') format('embedded-opentype'), url('/fonts/pfdintextcondpro-lightweb.woff') format('woff'), url('/fonts/pfdintextcondpro-lightweb.ttf') format('truetype'), url('/fonts/pfdintextcondpro-lightweb.svg#PFDinTextCondProLightRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinTextCondProRegular';
  src: url('/fonts/pfdintextcondpro-regularweb.eot');
  src: url('/fonts/pfdintextcondpro-regularweb.eot?#iefix') format('embedded-opentype'), url('/fonts/pfdintextcondpro-regularweb.woff') format('woff'), url('/fonts/pfdintextcondpro-regularweb.ttf') format('truetype'), url('/fonts/pfdintextcondpro-regularweb.svg#PFDinTextCondProRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Universal Styles */
/* Vender Methods */
/* End Vender Methods */
p {
  -webkit-transition: font-size 0.5s ease-out;
  -moz-transition: font-size 0.5s ease-out;
  -o-transition: font-size 0.5s ease-out;
  transition: font-size 0.5s ease-out;
}
select {
  display: none;
}
nav {
  background-color: #57534e;
  height: 78px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}
nav h1 {
  margin: 24px 0 0 20px;
  display: inline-block;
  text-align: left !important;
}
nav h1 > a {
  font: bold 20pt/1em 'Gill Sans', 'Gill Sans MT', SegoeUI, HelveticaNeue, sans-serif !important;
  color: #fff;
  font-weight: normal !important;
  text-decoration: none;
  text-transform: none !important;
  text-align: left !important;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  width: auto;
}
.logo {
    vertical-align: top;
    padding-top: 2%;
    padding-right: 1%;
    padding-bottom: 6%;
}
.collapse-wrapper{
    display: inline;
}
#revealMenu {
  display: none;
  background-image: url(../img/reveal.png);
background-size: 100% 100%;
  float: right;
  width: 30px;
  height: 30px;
  margin: 6px 5px 0 0;
   background-color: #f5f5f5;
  *background-color: #e6e6e6;
   border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
#revealMenu:hover,#revealMenu.touched{
    cursor: pointer;
}
nav ul {
  padding: 0;
  float: right;
  margin: 20px 15px 20px 0;
  background-color: #57534e;
}
nav ul,
nav li {
  display: inline-block;
  list-style: none;
}
nav li {
  margin-left: 18px;
}
nav a {
  color: #a4a19f;
  text-decoration: none;
  margin-left: 20px;
  font-size: 13pt;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', HelveticaNeue, SegoeUI, sans-serif;
  font-weight: 500;
}
nav a:hover {
  text-decoration: underline;
}
.button {
  width: 262px;
  margin: 0 auto;
  background-color: #8dc464;
  padding: 14px 13px;
  color: #fff;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  font-size: 20pt;
  font-weight: 400;
  border: solid 3px #e8ffe1;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', SegoeUI, HelveticaNeue, sans-serif !important;
}
.button:hover {
  background-color: #82b852;
}
#seeDemoInFooter {
  display: none;
}
footer {
  position: relative;
  min-height: 378px;
  padding: 14px 20px 20px;
  background-color: #57534e;
  padding-bottom: 20px;
  clear: both;
  box-sizing: border-box;
}
footer * {
  text-align: center;
  color: #dbdbdb;
}
footer > div {
  position: relative;
  height: 100px;
}
footer > h2 {
  font-size: 44pt;
  font-family: PFDinTextCondProLightRegular, 'Segoe UI Light', 'HelveticaNeue-Light', sans-serif;
  margin-bottom: 32px !important;
  text-transform: uppercase;
}
footer > h3 {
  text-transform: none;
  font: normal 24pt/30pt 'Gill Sans', 'Gill Sans MT', sans-serif !important;
  font-weight: 200 !important;
}
#notice {
  left: 20px;
  text-align: left;
  bottom: 20px;
}
footer > h3 {
  text-transform: none;
}
#social-links {
  padding: 0;
  margin: 0 auto;
}
#social-links > li {
  display: inline-block;
  list-style: none;
}
#social-links > li a {
  display: block;
  width: 32px;
  height: 28px;
}
#social-links > li a:hover {
  background-position: left -28px;
}
a#facebook {
  background-image: url(/images/facebook.png);
}
a#twitter {
  background-image: url(/images/twitter.png);
}
a#google {
  background-image: url(/images/google.png);
}
a#email {
  background-image: url(/images/email.png);
}
menu#submenu {
  height: 80px;
  background-image: none !important;
  background-color: #fff;
  border-bottom: #dedede;
  box-shadow: 0 1px 1px #efefef;
  position: fixed;
  z-index: 1000;
  top: 78px;
  width: 100%;
  -webkit-margin-before: 0 !important;
  padding: 0;
  box-sizing: border-box;
  /* Older Webkit */

  display: -webkit-box !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  /* Safari 7 */

  display: -webkit-flex;
  -wekbit-flex-direction: row;
  -webkit-justify-content: center;
  -webkit-align-item: center;
  display: -ms-flexbox;
  /* IE */

  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */

  display: flex;
  align-items: center;
  justify-content: center;
}
#submenu > ul {
  padding-left: 0 !important;
  margin-left: 20px;
}
#submenu > ul > li {
  display: inline-block;
}
#submenu > ul > li > a {
  font-size: 12pt;
  font-family: 'Gill Sans', 'Gill Sans MT', 'HelveticaNeue', Sans-serif;
  text-decoration: none;
  color: #6f6c6b;
  padding: 2px 10px;
  text-transform: uppercase;
}
#submenu > ul > li > a:hover,
#submenu > ul > li > a.selected {
  background-color: #fa9b72;
  color: #fff;
  border-radius: 10px;
}
ul.list,
ul.list > li {
  list-style: none;
}
ul.list > li::before {
  content: '';
  display: inline-block;
  height: 14px;
  width: 13px;
  margin: 0px 10px -2px 0;
}
/* End Universal Styles */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  footer > h3 {
    font-size: 13pt !important;
    line-height: 16pt !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 580px) {
  footer > h3 {
    font-size: 16pt !important;
    line-height: 24pt !important;
  }
}
/* Phone Styles */
@media only screen and (min-width: 320px) and (max-width: 640px) {
  html,
  body {
    padding: 0;
    margin: 0;
    -webkit-text-size-adjust: none;
    font: 12pt/1.5em "GillSans-Light", "GillSans", Helvetica, 'Segoe UI', sans-serif;
    color: #464646;
  }
  #seeDemoInFooter {
    font-size: 14pt !important;
  }
}
@media only screen and (max-width: 767px) {
  body {
    padding-top: 45px;
  }
  nav {
    height: 45px;
  }
  nav h1 {
    margin: 12px 0 0 5px;
     }
 nav > h1 {
    width: 40%;
    left: 0;
     }
#menu-mygroups a{
    font-size: 100%;
}
  nav h1 a {
    font-size: 16pt !important;
  }
 #childmember {
    position: fixed; margin-top: -50px;
}
  #revealMenu,.collapse-wrapper{
    display: block;
  }
  nav .nav-collapse ul {
    display: none;
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    width: 100%;
    float: none;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
    padding-bottom: 10px;
  }
  nav ul li {
    display: block;
    padding-bottom: 10px;
    padding-right: 10px;
  }
  nav ul.block {
    display: block;
  }
  nav ul li:last-of-type {
    display: none;
  }
  nav ul.show,
  nav ul.block.show,
  nav ul.show.block {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
  }
  menu#submenu {
    top: 45px;
  }
  #submenu ul {
    display: none;
  }
  #submenu select {
    display: block;
  }
  menu#submenu {
    height: 40px;
  }
  .button {
    font-size: 16pt;
    width: 200px;
  }
  #download {
    display: none;
  }
  #seeDemoInFooter {
    display: block;
  }
  footer > h2 {
    font-size: 28pt;
    font-weight: 100 !important;
    -webkit-font-smoothing: antialiased !important;
  }
  footer > h3 {
    font: normal 24pt/30pt;
  }
  footer p a,
  footer p span {
    font-size: 13pt;
    line-height: 15pt !important;
  }
   td.actions, th.actions, .birth_date_list, .family_member .email, .btn .phone i {
        display: none;
    }

    td.child_name, td.family-details {
        width: 35%;
    }

    .btn a.phone {
        font-size: 120%;
    }

    td.family-details {
        width: 100%;
    }

   
    h3, .form h2 {
        border: none;
        padding: initial;
        font-size: 200%;
        padding: 0;
    }

    #general-info  {
        display: none;
    }

    #tabbable ul {
        display: none;
    }



    .popover {
        z-index: 111113;
    }

   #tabbable .box{
    border: none;
    box-shadow: none;
}
 #tabbable .box thead{
    display: none;
}

    #user-logged-name {
        top: -3%;
        right: 18%;
        position: absolute;
        width: inherit;
        padding-right: inherit;
        padding-bottom: inherit;
        line-height: inherit;
        display: none;
    }

    .family-details {
        max-width: 90% !important;
    }


}
/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  select {
    display: block;
  }
  menu#submenu {
    height: 40px;
  }
  #revealMenu,  .collapse-wrapper {
    display: block;
  }
nav {
    padding: 0;
}
  nav ul {
    display: none;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    float: none;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
    padding-bottom: 20px;
  }
  nav ul li {
    display: block;
    padding-bottom: 10px;
    padding-right: 10px;
  }
  nav ul.block {
    display: block;
  }
  nav ul li:last-of-type {
    display: none;
  }
  nav ul.show,
  nav ul.block.show,
  nav ul.show.block {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
  }
  #submenu ul {
    display: none;
  }
  #submenu select {
    display: block;
  }
  #download {
    display: none;
  }
  #seeDemoInHeader {
    display: block;
  }
  #seeDemoInFooter {
    display: block;
  }
  footer > h2 {
    font-size: 40pt;
    font-weight: 200 !important;
    -webkit-font-smoothing: antialiased !important;
  }
  footer > h3 {
    font-size: 18pt !important;
    line-height: 22pt !important;
    -webkit-font-smoothing: antialiased !important;
    font-weight: 100 !important;
  }
}
@media only screen and (max-width: 1024px) {
  #social-links > li {
    margin-right: 20px !important;
  }
  #social-links > li:last-of-type {
    margin-right: none;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1136px) {
  #revealMenu,.collapse-wrapper {
    display: block;
  }
  nav ul {
    display: none;
    margin: 0;
    position: absolute;
    top: 78px;
    left: 0;
    right: 0;
    width: 100%;
    float: none;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
    padding-bottom: 20px;
  }
  nav ul li {
    
    padding-bottom: 10px;
    padding-right: 10px;
  }
  nav ul.block {
    display: block;
  }
  nav ul li:last-of-type {
    display: none;
  }
  nav ul.show,
  nav ul.block.show,
  nav ul.show.block {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 1025px) {
  footer > h3 {
    max-width: 800px;
    margin: 0 auto 32px auto;
  }
  #needHelp h2 {
    font-family: PFDinTextCondProLightRegular, 'Segoe UI Light', 'HelveticaNeue Light', sans-serif;
    font-size: 56px;
    text-transform: uppercase;
  }
  #needHelp > section > div {
    margin-right: 426px;
    margin-top: 105px;
  }
  #needHelp > section > img {
    height: 400px;
    bottom: 0;
    right: 0px;
    position: absolute;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    ul.list, ul.list > li {
        padding-left: 0;
        margin-left: 0;
    }

   
}